
<div style="text-align:center;">
    <form id="mainMenuForm" class="form-horizontal">
        <ul id="leftMenu" class="nav nav-pills nav-stacked">
            <!--<li class="btn-large" style="color:#ff6a00"><i class="icon-home icon-large"></i><br /><small>Home</small></li>-->
        </ul>
    </form>
</div>