
<div class="navbar-text" style="text-align:left;">
    <form id="mainMenuForm" class="form-horizontal">
        <ul id="leftMenu" class="nav nav-list">
            <!--<li class="btn-large" style="color:#ff6a00"><i class="icon-home icon-large"></i><br /><small>Home</small></li>-->
        </ul>
        <div id="divPopOver"></div>
    </form>
</div>