<div id="divMytables" class="navbar-text" style="text-align:left;">
    <form id="mainMenuForm" class="form-horizontal">
        <ul id="" class="nav nav-list">
            <li class="btn-large" style="color:#ff6a00"><small>Probando pop over......................</small></li>
            <li class="btn-large" style="color:#ff6a00"><small>Probando pop over......................</small></li>
            <li class="btn-large" style="color:#ff6a00"><small>Probando pop over......................</small></li>
            <li class="btn-large" style="color:#ff6a00"><small>Probando pop over......................</small></li>
            <li class="btn-large" style="color:#ff6a00"><small>Probando pop over......................</small></li>
        </ul>
    </form>
</div>